// device-mockup.styl
body
	margin 0
	padding 1rem
iframe
	height 100%
	width 100%
	background white
	display block
nav
	position absolute
	left 1em
	top 0.5em
	form
		display none // Initially hidden, collapsed.
		>*
			background lightgray
			margin 1em
			padding 0.25em
.device
	background gray
	border 1px solid slategray
	border-radius 12px
	box-shadow 4px 4px 12px gray
	box-sizing content-box
	padding 38px 8px
	position relative
.screen
	background black
	height 100%
