// device-mockup.styl
body
	margin 0
	padding 1rem
iframe
	height 100%
	width 100%
	background white
	display block
nav
	position absolute
	left 1em
	top .5em
	form
		background gray
		display none // Initially hidden, collapsed.
		position absolute
		top 1em
		>*
			background lightgray
			margin .25em
			padding .25em
.device
	background gray
	border 1px solid slategray
	border-radius 12px
	box-shadow 4px 4px 12px gray
	box-sizing content-box
	padding 38px 8px
	position relative
.screen
	background black //???
	height 100%
